<section class="project-lox-component">
    <!-- TODO: add resive div to replace gap property -->
    <div class="lox-tutorial">
        <h1>The Lox Language</h1>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus mi nisi, quis volutpat magna
                pharetra
                egestas. Sed nec consequat velit. In id rutrum augue, sed blandit ex. Mauris aliquet dapibus tellus sit
                amet
                posuere. Praesent faucibus eu ligula ut ornare. Sed placerat ligula dignissim volutpat vulputate.
                Curabitur
                sit amet tortor velit. Nulla pretium egestas dignissim.
            </p>
            <p>
                Cras sit amet ipsum libero. Proin efficitur justo at turpis dictum elementum. Maecenas sollicitudin
                porta
                ante sed ultrices. Curabitur tristique blandit turpis vel semper. Etiam libero massa, accumsan et
                ultricies
                vel, suscipit vitae nisi. Proin nec dolor mauris. Praesent maximus posuere ante, vel porttitor dolor
                imperdiet ut. Sed viverra ex magna, ac placerat nisl tincidunt at.

            </p>
            <p>
                Donec feugiat et dolor quis fringilla. Nunc eget metus pretium, tempor nibh eu, tincidunt lacus. Integer
                vel
                neque iaculis, faucibus erat non, efficitur enim. Phasellus vitae orci neque. Duis varius sapien vel
                nibh
                malesuada luctus. Morbi ut turpis vel odio mollis maximus at eu massa. Donec et tortor elit. Curabitur
                augue
                ante, mollis bibendum aliquet id, aliquam eu massa.

            </p>
            <p>
                Sed cursus pellentesque metus, eu dignissim lacus auctor ut. Maecenas a nisi vitae est luctus sagittis
                eget
                ut metus. Fusce posuere malesuada posuere. Curabitur bibendum, lorem consectetur egestas imperdiet, mi
                dui
                semper felis, nec tempor velit libero id lacus. Aenean vel massa mauris. Cras lobortis velit in enim
                dictum,
                in maximus ex placerat. Aliquam et neque et arcu interdum pulvinar quis eget mi. Etiam vel elit elit.
                Sed
                dui nulla, placerat nec ante commodo, sodales cursus felis. Praesent nec aliquet nisl, dignissim tempor
                dolor. Etiam a vestibulum arcu, ut convallis tortor. Fusce in vestibulum velit.

            </p>
            <p>
                Aenean dictum vulputate turpis, eu congue velit volutpat vitae. Cras efficitur elementum rhoncus. Nunc
                lobortis, sem eget faucibus euismod, metus ex cursus dolor, sed vestibulum turpis ligula in nisl. Etiam
                ac
                bibendum metus. Nunc nisi dolor, bibendum non tincidunt vitae, convallis nec risus. Sed mollis ex et
                consectetur cursus. Cras ornare dapibus ex, eu molestie tellus malesuada a. Nulla sed elit interdum,
                ultrices elit condimentum, tincidunt sem. Pellentesque tristique volutpat orci sit amet vulputate.
                Maecenas
                eleifend purus consectetur tellus sollicitudin semper.

            </p>
            <p>
                Suspendisse dictum viverra urna eu porttitor. Interdum et malesuada fames ac ante ipsum primis in
                faucibus.
                Donec sodales euismod ligula ut accumsan. Proin pretium sapien in interdum cursus. Praesent ullamcorper
                mi
                hendrerit dictum porttitor. Sed eleifend quis orci et dapibus. Sed aliquam, erat sed blandit suscipit,
                metus
                diam vulputate nunc, vel lacinia lorem arcu eu turpis. In ac tortor ut arcu sodales cursus quis eget
                dolor.
                Integer a porta ipsum. Morbi lobortis finibus libero, ut porttitor ipsum ultricies eu. Vivamus in
                gravida
                metus.

            </p>
            <p>
                Pellentesque sed odio ut velit dignissim fringilla. Mauris porttitor arcu tristique facilisis pulvinar.
                Nulla sed sollicitudin ante. Etiam vel consectetur odio, nec commodo lacus. Aliquam nec massa vel ligula
                auctor egestas et et sem. Donec sed dapibus orci. Proin vulputate feugiat convallis. Phasellus luctus
                lectus
                laoreet tortor maximus, sit amet sodales libero consectetur. Sed a feugiat neque.

            </p>
            <p>
                Donec sed justo lorem. Aliquam consequat finibus tincidunt. Ut rhoncus mi et nisl mattis, vel dictum
                turpis
                eleifend. Phasellus erat velit, finibus ut justo vitae, pulvinar laoreet leo. Nulla facilisi. Morbi
                tristique sagittis ultrices. Quisque lacus ligula, lacinia sed risus sit amet, fringilla bibendum nisi.
                In
                eu dui congue enim hendrerit facilisis consectetur vel est. Aliquam erat volutpat. Praesent lorem massa,
                malesuada eget egestas sed, scelerisque vitae justo. Curabitur egestas non enim in maximus. Maecenas
                cursus
                lorem in auctor luctus. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Morbi non metus ac erat mollis volutpat a sit amet nisi. Vivamus bibendum
                pulvinar
                odio.

            </p>
            <p>
                Donec a finibus nisl. Duis in consectetur orci, quis condimentum massa. Nullam non hendrerit justo.
                Mauris
                eu ex finibus, pellentesque velit eu, gravida tortor. Praesent fermentum lorem vitae arcu lobortis, id
                ultrices turpis sagittis. In posuere, diam venenatis vehicula bibendum, risus metus luctus ex, non
                tempor
                urna augue eu dui. Morbi nisl velit, faucibus vitae augue et, euismod euismod ante. Curabitur non
                feugiat
                sapien. In metus nibh, feugiat ac ligula sit amet, ultricies commodo lacus. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Pellentesque suscipit velit ipsum, quis pellentesque lorem viverra a.
                Vestibulum sit amet enim volutpat, rhoncus sem eget, tristique lorem. Nunc bibendum tortor id pulvinar
                aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            </p>
            <p>
                Donec aliquam bibendum metus at tristique. Ut viverra, odio eu porttitor pretium, nulla nibh pretium
                diam,
                et maximus est diam eu eros. Curabitur id facilisis quam. Morbi ac lacus orci. Ut vel tempor libero,
                quis
                sodales felis. Praesent varius sollicitudin odio, id elementum mauris volutpat id. Donec dapibus sodales
                nunc viverra porttitor. Duis in arcu ac sem egestas rutrum sagittis vitae metus. Sed maximus lorem quis
                sem
                interdum feugiat. Donec luctus nisi eget tortor rutrum venenatis. Suspendisse potenti.

            </p>
            <p>
                Aenean laoreet odio risus, id rhoncus augue vulputate a. Mauris ex nulla, pulvinar a quam quis,
                porttitor
                tincidunt risus. In porta porttitor mollis. Donec sed malesuada arcu. Suspendisse dui ligula, luctus non
                tellus a, volutpat pellentesque quam. Sed ac mauris hendrerit, auctor nunc non, lacinia sapien. Cras
                eget
                quam dolor. Morbi eget molestie massa. Morbi sollicitudin sapien quis pretium fringilla. Nunc vel leo a
                tortor posuere blandit.

            </p>
            <p>
                Suspendisse tortor massa, pulvinar eget sollicitudin ac, porttitor vestibulum massa. Vestibulum
                sagittis,
                nibh et cursus sodales, lacus tortor commodo ligula, in eleifend mauris nisl sed urna. Pellentesque
                habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Duis ac convallis ante. Morbi id
                efficitur dolor. Donec tortor sapien, sollicitudin eu felis et, dictum convallis lacus. Quisque interdum
                condimentum dolor, quis malesuada urna viverra nec. Vestibulum libero augue, sagittis eget sagittis nec,
                semper a erat. Nunc vulputate laoreet justo eget varius. Curabitur et tortor ut nibh tristique congue.
                Donec
                quis erat enim. Phasellus iaculis risus lacus, vitae gravida nisl tempor ut.

            </p>
            <p>
                Ut imperdiet non nibh vel volutpat. Mauris non consectetur libero. Phasellus tempus justo diam, vel
                congue
                ligula dapibus vel. Aliquam molestie ligula ac ornare elementum. Aenean auctor hendrerit aliquet. Nullam
                dignissim tellus felis, at varius sapien interdum sit amet. Nunc dapibus eu massa quis vestibulum.
                Curabitur
                a faucibus velit. Ut id diam est. Nam eu fermentum sapien.

            </p>
            <p>
                Curabitur vestibulum dapibus pretium. Duis dignissim est molestie ipsum suscipit tincidunt. Praesent
                faucibus, tellus at placerat rutrum, nisi purus molestie sem, elementum dignissim enim turpis nec felis.
                Suspendisse placerat blandit lobortis. Phasellus dictum diam quis tortor porta, a tempus augue laoreet.
                Nullam quis tortor venenatis, tempus libero ac, luctus urna. Suspendisse eget lectus quis diam blandit
                viverra. Integer lorem diam, aliquet aliquam imperdiet eu, vestibulum id lorem. Aliquam odio nunc,
                volutpat
                vitae dignissim in, egestas ac enim. Praesent ultrices, velit non porta accumsan, ligula nibh suscipit
                dolor, ut semper mi urna sed sapien. Aenean mauris purus, tincidunt non ornare ac, malesuada nec erat.

            </p>
            <p>
                Cras facilisis, dolor id commodo varius, purus lectus pretium tortor, efficitur scelerisque sem diam
                faucibus sem. Morbi massa magna, sollicitudin eget semper a, porttitor a velit. Aenean tincidunt magna
                at
                convallis tempus. Vestibulum vehicula leo quam, quis rhoncus metus accumsan ut. Maecenas maximus, arcu
                sollicitudin congue euismod, nisi diam laoreet libero, quis venenatis lacus augue sagittis nisi.
                Curabitur
                luctus odio enim, id posuere sapien sodales quis. Nulla vestibulum sit amet diam nec ultrices. Maecenas
                sit
                amet sem eu enim bibendum dignissim nec a sem. In hac habitasse platea dictumst. Phasellus accumsan,
                ante
                nec congue tempus, dui sapien ultrices nibh, non luctus eros velit eu arcu. Donec quis dolor gravida,
                gravida lectus eu, sagittis magna. Morbi tellus odio, luctus id sem ut, porttitor lobortis tortor.
                Vestibulum fermentum nunc eget arcu pharetra, sed consectetur sem suscipit. Nam ut accumsan augue.
                Maecenas
                ullamcorper nisi quis mi semper, at lacinia libero tincidunt.

            </p>
            <p>
                Nam magna elit, tristique sed metus sed, ullamcorper mollis eros. Etiam ut tellus euismod, iaculis elit
                ut,
                aliquam enim. In maximus sodales dui ut sodales. Ut vitae ligula dui. Nullam pharetra malesuada lorem eu
                congue. Mauris a justo lacus. Aenean consectetur odio quis venenatis volutpat. Sed scelerisque ex dolor,
                eu
                aliquam dui volutpat vitae. Phasellus rutrum accumsan elit ac fringilla. Sed ut pharetra libero.

            </p>
            <p>
                Suspendisse potenti. Curabitur nisi lorem, gravida vel aliquam quis, finibus vitae purus. Quisque
                volutpat
                id velit vitae mattis. Vestibulum vel felis tortor. Ut vehicula ex eu justo maximus, a hendrerit ipsum
                blandit. Donec quis scelerisque metus. Mauris semper ligula molestie feugiat laoreet. Ut ullamcorper
                pretium
                gravida. Nam dui lacus, malesuada vel commodo ullamcorper, maximus id nunc. Suspendisse ut nisl
                fermentum,
                porta erat ac, ullamcorper diam. Maecenas tempor, lorem ac blandit condimentum, justo est sollicitudin
                est,
                vel bibendum metus risus in turpis. Ut venenatis eros id luctus faucibus. Vestibulum eu posuere metus.
                Integer nisi ipsum, sollicitudin sit amet euismod eget, vestibulum vitae odio. Vestibulum est augue,
                molestie ut scelerisque eget, dictum nec diam.

            </p>
            <p>
                Donec sed sapien mauris. Integer sed eleifend felis. Vestibulum id tellus tincidunt, sollicitudin arcu
                a,
                congue tellus. Duis euismod congue elit non condimentum. Proin aliquam efficitur magna non ornare.
                Phasellus
                accumsan massa eget tristique egestas. Donec condimentum purus lorem, eget congue nulla tincidunt et.

            </p>
            <p>
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec rhoncus molestie eros. Suspendisse
                interdum arcu nulla, non laoreet velit scelerisque eu. Vivamus non dignissim urna, nec consequat erat.
                Ut
                suscipit lorem at erat interdum, id congue mauris rhoncus. Donec facilisis venenatis quam et tristique.
                Aenean consectetur, quam id fermentum aliquam, lorem arcu scelerisque dolor, quis maximus est mauris sed
                mi.
                Sed dapibus viverra nibh a maximus. Vivamus in leo vel nisl luctus elementum. Aliquam in feugiat ipsum.

            </p>
            <p>
                Proin malesuada leo vitae mauris semper faucibus. Sed commodo gravida ante, nec ornare urna bibendum sit
                amet. Praesent ac congue nibh. Ut consequat finibus augue eget malesuada. Maecenas a blandit nulla, ut
                placerat tellus. Phasellus auctor turpis a eleifend luctus. Integer nec tellus malesuada, malesuada
                massa
                id, congue enim. Quisque fermentum ornare massa, at semper nulla. Nam aliquam nisl urna, maximus
                ultricies
                eros efficitur id. Nam sed pellentesque est. Praesent tellus felis, tristique et laoreet a, auctor nec
                diam.

            </p>
            <p>
                Maecenas sollicitudin a orci sit amet eleifend. Vestibulum congue odio in bibendum tristique. In ut
                iaculis
                metus. Suspendisse et sagittis enim, et sollicitudin libero. Ut ac rutrum elit. In maximus id arcu sit
                amet
                laoreet. In sit amet pellentesque mi. Ut id mauris tincidunt, iaculis dui sed, tempus justo. Duis quis
                eleifend purus, eu dictum nulla. Maecenas viverra nunc sed nibh fringilla, nec viverra lacus tincidunt.
                Integer blandit ipsum non gravida molestie. Nam ac maximus neque, a egestas elit. Nullam maximus
                lobortis
                ante in hendrerit. Nullam sodales lorem in tortor mollis, a scelerisque nisl congue. Suspendisse at leo
                congue, faucibus quam id, bibendum dui. Nam eu turpis eu tortor congue dapibus.

            </p>
            <p>
                Pellentesque mi justo, semper id posuere in, ultrices sit amet eros. Donec molestie laoreet nulla, vitae
                sagittis lectus dignissim a. Mauris congue tincidunt nulla, eu fermentum orci cursus porttitor. In
                dapibus a
                risus faucibus pharetra. Vestibulum varius, elit vitae interdum rutrum, tellus ante mattis dolor, a
                iaculis
                felis dolor facilisis tellus. Sed in augue eget ex rutrum suscipit. Fusce quis malesuada urna.

            </p>
            <p>
                Vestibulum ultricies lectus ipsum. Curabitur blandit pharetra rhoncus. Quisque rutrum blandit finibus.
                Integer eget mi vitae leo convallis finibus a sit amet libero. Mauris in ligula et felis luctus
                fringilla
                sed sit amet neque. Vestibulum ut sapien vel libero sodales fermentum non non lectus. Nunc lobortis
                imperdiet maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nisl ipsum, euismod
                vehicula
                tincidunt non, luctus sed elit. Quisque porttitor dolor blandit lectus feugiat commodo. Pellentesque
                ultricies fringilla egestas. Ut ut enim fermentum, laoreet dolor vel, bibendum lorem. Pellentesque at
                posuere quam, et eleifend lectus. Proin nunc dolor, blandit non consectetur vel, iaculis vel ante. Nam
                vel
                turpis quam. Duis at consectetur augue.

            </p>
            <p>
                Aliquam odio metus, volutpat at pellentesque vel, vestibulum id lorem. Nunc at diam id metus congue
                iaculis.
                Praesent semper pellentesque lorem ut dapibus. Class aptent taciti sociosqu ad litora torquent per
                conubia
                nostra, per inceptos himenaeos. Pellentesque id velit a justo molestie viverra. Aliquam non felis non
                diam
                congue maximus porta at arcu. Morbi at metus justo. Sed ac feugiat nunc, vitae pretium velit. Morbi
                hendrerit tortor quis turpis tincidunt, a sagittis augue fermentum. Curabitur elementum finibus eros
                eget
                vulputate.

            </p>
            <p>
                Duis ornare felis semper volutpat placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum sed fermentum velit. Mauris ultrices pharetra velit id convallis. Vestibulum eget placerat
                est.
                Vestibulum vestibulum condimentum aliquet. Curabitur pretium metus sit amet massa pretium, sed congue mi
                congue. Ut id porttitor lorem. Quisque ipsum ligula, mollis et lectus euismod, hendrerit dapibus eros.
                Suspendisse quis mattis justo, id malesuada diam. Vestibulum quis rhoncus purus. Lorem ipsum dolor sit
                amet,
                consectetur adipiscing elit.

            </p>
            <p>
                Donec maximus commodo ex nec eleifend. Fusce bibendum ultrices commodo. Sed tincidunt vestibulum massa,
                et
                vehicula purus auctor ac. Morbi vel elit convallis mauris varius ornare. Mauris pulvinar dictum purus
                eget
                fringilla. Quisque vulputate commodo tortor, vitae euismod nulla commodo et. Ut orci eros, aliquam a ex
                et,
                tristique pellentesque augue. Cras interdum erat ut urna eleifend ornare. Aenean at viverra ante, sit
                amet
                imperdiet elit. Nam facilisis mollis fringilla. Sed pellentesque pellentesque euismod. Aliquam erat
                volutpat. Duis dictum lacinia felis. Morbi interdum nunc non nisi fringilla, id cursus elit auctor.
                Etiam id
                turpis dolor. Morbi varius ipsum diam, eget pellentesque turpis pulvinar a.

            </p>
            <p>
                Aenean finibus ligula nunc, a porta metus sodales sit amet. Praesent quis orci orci. Curabitur in tortor
                et
                turpis auctor mattis. Vestibulum in feugiat odio. Nunc at pulvinar nibh, vel dictum risus. Nunc nec odio
                auctor, posuere tellus ut, sodales magna. Proin tempus, sem vel rutrum vestibulum, lorem magna facilisis
                lacus, quis lobortis nibh mauris id tellus. Proin nunc nisi, imperdiet sit amet leo ac, condimentum
                cursus
                sem. Phasellus molestie arcu ac semper accumsan.

            </p>
            <p>
                Cras aliquet, purus nec tristique pharetra, quam magna euismod nisi, at venenatis purus quam non ex. Sed
                aliquet vulputate elit sed bibendum. Sed sit amet ex eget dolor faucibus rutrum. Quisque luctus
                vestibulum
                felis et bibendum. Donec fringilla scelerisque congue. Nullam vulputate consectetur dolor. Duis orci
                lectus,
                sagittis eget fermentum a, dignissim vitae dui. Proin tincidunt quam sit amet quam pulvinar lacinia.
                Orci
                varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ut elementum
                arcu.

            </p>
            <p>
                Proin euismod, elit ut sodales commodo, ipsum dui efficitur dui, vehicula pretium urna urna et lectus.
                Etiam
                sit amet lorem at nunc dignissim vestibulum. Proin pretium dolor mauris, et rhoncus ex egestas in. Ut
                varius
                lobortis arcu, nec porta ex condimentum non. Aliquam vitae tortor et tellus mattis vehicula in eget
                metus.
                Phasellus id gravida ex. Morbi non neque eu metus condimentum ullamcorper vel vel massa. Vivamus
                pulvinar
                condimentum sapien, ut euismod elit.

            </p>
            <p>
                Duis accumsan ipsum luctus odio rhoncus molestie. Suspendisse ut lorem ex. Sed ornare mattis dui. Ut
                pharetra accumsan velit, ac luctus augue luctus vitae. Aenean semper massa vitae lectus egestas cursus.
                Curabitur tempus fermentum turpis sed feugiat. Pellentesque tincidunt ornare turpis. Nam venenatis quam
                id
                neque accumsan dictum. Praesent id massa eget turpis mollis posuere. Nullam imperdiet ultricies massa,
                eu
                gravida lacus semper ut.
            </p>
        </div>
    </div>
    <div class="lox-interactive">
        <div class="lox-interactive-header">
            <button type="button" (mousedown)="onRun()">Run</button>
        </div>
        <div class="lox-interactive-container">
            <div class="lox-editor">
                <div class="lox-editor-header">
                    <span>Code Editor</span>
                </div>
                <div class="lox-editor-container">
                    <main-codemirror (update)="onEditorUpdate($event)"></main-codemirror>
                </div>
            </div>
            <div class="lox-console">
                <div class="lox-console-header">
                    <span>Console</span>
                </div>
                <div class="lox-console-container">
                    <main-xterm [text]="result"></main-xterm>
                </div>
            </div>
        </div>
    </div>
</section>
