.project-lox-component {
    display: flex;
    gap: 1rem;
    justify-content: stretch;
    position: relative;
}

.lox-tutorial {
    border-inline-end: 1px solid #413E46;
    color: #FBFBFB;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
}

.lox-interactive {
    align-self: flex-start;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: calc(100vh - 3rem);
    max-height: calc(100vh - 3rem);
    position: sticky;
    top: 0;
    justify-content: stretch;
}

.lox-interactive-header {
    align-items: center;
    border-inline: 1px solid #413E46;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    max-height: 62px;
}

.lox-interactive-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 0.5rem;
    height: calc(100% - 62px);
}

.lox-editor {
    height: 50%;
    border: 1px solid #413E46;
    display: flex;
    flex-direction: column;
}

.lox-editor-header {
    align-items: center;
    background-color: #151417;
    border-block-end: 1px solid #413E46;
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    max-height: 42px;
}

.lox-editor-container {
    height: calc(100% - 42px);
    width: 100%;
}

.lox-console {
    height: 50%;
    border: 1px solid #413E46;
    display: flex;
    flex-direction: column;
}

.lox-console-header {
    align-items: center;
    background-color: #151417;
    border-block-end: 1px solid #413E46;
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    max-height: 42px;
}

.lox-console-container {
    height: calc(100% - 42px);
    width: 100%;
}
