.project-lox-component {
    display: flex;
    justify-content: stretch;
    gap: 1rem;
    width: 100%;
}

.project-lox-component div {
    width: 50%;
}

.lox-editor {
    background-color: red;
    border-radius: 12px;
    margin-left: 1rem;
    min-height: calc(100vh - 3rem);
}

.lox-terminal {
    background-color: blue;
    border-radius: 12px;
    margin-right: 1rem;
    min-height: calc(100vh - 3rem);
}
