@import url('@xterm/xterm/css/xterm.css');

.xterm-component {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.xterm {
    height: 100% !important;
    padding: 10px !important;
    width: 100% !important;
}


.xterm-viewport {
    background-color: #151417 !important;
    height: 100% !important;
    overflow-y: auto !important;
    transition: 0.3s ease;
    width: 100% !important;
}

.xterm-screen {
    box-sizing: border-box !important;
    height: 100% !important;
    overflow: visible !important;
    width: 100% !important;
}

.xterm-rows {
    color: #FBFBFB !important;
    height: 100% !important;
    overflow: visible !important;
    transition: 0.3s ease;
}

.xterm-selection {
    left: 10px !important;
    top: 10px !important;
}

.xterm-selection>div {
    background-color: transparent !important;
}
