.nav-component {
    background-color: #0E0E10;
    height: 100vh;
    max-height: 100vh;
    padding-block: 1rem 2rem;
    background-color: color-mix(in srgb, #0F0F11, 70%, transparent);
    border-block-end: 1px solid #232125;
    position: relative;
    overflow: auto;
}

.nav-container {
    display: flex;
    flex-direction: column;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.4rem;
    font-weight: 400;
    letter-spacing: -.01rem;
}

.nav-list-item {
    width: 6.875rem;
    position: relative;
    list-style: none;
    fill: #A39FA9;
    color: #A39FA9;
}

.nav-list-item:hover {
    color: #FBFBFB;
    fill: #FBFBFB;
}

.nav-list-item-anchor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding-block: 1.25rem;
    color: inherit;
    fill: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-list-item-graphic {
    fill: inherit;
}

.nav-list-item-label {
    color: inherit;
}
